<!DOCTYPE html>
<html lang="en" class="h-full font-sans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} | {{ title }}</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="h-full font-sans">
  <main class="h-full">
    <header class="text-white bg-pink-800 text-center">
      <div class="py-12 px-4">
        <h1 class="mt-0 mb-2 text-5xl font-bold"><a href="/">More Empathy Online</a></h1>
        <p class="text-lg mb-0">Gathering empathy from across the web.</p>
      </div>
    </header>
