
@import 'basscss';
@import 'basscss-utility-headings';
@import 'basscss-border-colors';
@import 'basscss-responsive-white-space';

:root {
  --font-family: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
}

::selection {
  background-color: var(--maroon);
  color: var(--white);
}

blockquote {
  border-left: 1px solid var(--teal);
  margin: 0;
  padding: 0 var(--space-2);
}

.h-100 {
  height: 100%;
}

